/*Start of the all section*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    /* border: solid 1px black; */
    max-width: 100%;
}
html{
    font-size: 62.5%;
}
/*End of the all section*/

/*Start of the Header Section*/

/* header, nav, h1, button, div{
    border: solid 2px grey;
}*/
header .nav-box{ 
    background-color: darkslategray;
}
header .nav-box{
    display: flex;
    width: 100%;
}
header .nav-box nav{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-content: center;
}
.buttons{
    justify-content:space-evenly;
    align-items:center;
}
h1{
    display: flex;
    font-family: 'Bangers', cursive;
    font-size: 40px;
    letter-spacing: 2px;
    margin-right: auto;
    width: 15%;
    color: ghostwhite;
    justify-content: center;
}
.top-img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width:50%;
}
/*End of the Header section*/

/*Start of the Mid section*/

.outside-section{
    width: 100%;
}

.inside-top-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 3% auto;
}
.inside-top-div div{
    width: 25%;
}
.inside-botom-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 3% auto;
}
.inside-botom-div div{
    width: 25%;
}
/*End of the middle Section*/

/*Start Of The Footer Section*/
footer{
    background-color: moccasin;
    margin: 3% auto;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    text-align: center;
}
.footer-box{
    border: 1px solid black;
    background-color: moccasin;
}

.contact{
    color: #A9C3F4;
    text-decoration: none;
}
.contact:hover{
    color: gray;
    text-decoration: none;
}







/*End of the Footer Section*/